<footer class="site-footer">
  <div class="wrapper">
    
    <div class="footer-col-wrapper">
      {% if site.email %}
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li> Email </li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      {% endif %}

      {% if site.gitlab_username||site.github_username %}
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          Social Media

          <!--
            If the social media accounts are mentioned in the _config.yml, they will be displayed.
          -->
          {% if site.gitlab_username %}
          <li>
            <!--
              It's kinda like partials in rails
              the logo will be drawn in _include/icon-gitlab.html 
              and the site.gitlab_username will be passed on as username
              which is only visible in icon-gitlab.html
            -->
            {% include icon-gitlab.html username=site.gitlab_username %}
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

        </ul>
      </div>
      {% endif %}

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
