--- 
--- 

@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$brand-color-white: #fafaf8;

$brand-color:      #0c55b4;
$brand-color-light:lighten($brand-color, 15%);
$brand-color-dark: darken($brand-color, 15%);

$brand-color-green:  #DAF7A6;
$brand-color-orange: #FFC300;
$brand-color-orange-light:lighten($brand-color-orange, 5%);
$brand-color-orange-dark: darken($brand-color-orange, 5%);
$brand-color-red:  #e49348;


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
